*{
    margin: 0;
    padding: 0;
}

/* hide scroll bar */
::-webkit-scrollbar {
    width: 0px;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
      "left"
      "right"
  }

.formContent{
    grid-area: left;
    display: grid;
    justify-items: center;
    align-items: center;
}

.listContent{
    grid-area: right;
    display: grid;
    justify-items: center;
    align-items: center;
}

input{
    display: block;
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

h2, h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: capitalize;
    margin-bottom: 1em;
}

/* buttons */

.submitBtn{
    margin-top: 150px;
}

/* dropdown */
select{
    width: 100%;
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
option{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#editForm{
    width: 60%;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    /* color: red; */
    color: linear-gradient(135deg, rgba(182,139,255,1) 17%, rgba(0,212,255,1) 100%);
}
a::after{
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: #82E0AA;
    transition: width .3s;
}
a:hover::after{
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 75%;
}

table, th, td {
    border: 1px solid black;
    padding: 0.5em;
}

.formError{
    color: red;
    text-align: center;
}

.hide{
    /* display: none; */
    color: #fff;
}

/* media queries for anyhthing larger than 600px */
@media only screen and (min-width: 600px) {
    .container {
        grid-template-areas: 
          "left right"
      }
}


